video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

h1 { 
    color: white;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 250px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    -webkit-text-stroke: 2px #1060D3;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }