.innercontent {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px;
    width: 100%;
    font:sans-serif;
}

.search{
    display:block;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    margin: 10px 10px;
    width:100%;
}

input{
    display:block;
    margin:auto;
}

.animation {
    object-fit: initial;
    width: 300px;
    height: 200px;
    position: absolute;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.animation2 {
    object-fit: initial;
    width: 620px;
    height: 420px;
    
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.centerVideo {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


